<div class="content">
    <mat-toolbar class="roomName-toolbar" color="primary">
        <span>{{room?.name}}</span>
    </mat-toolbar>
    <mat-list class="messages">
        <mat-list-item *ngFor="let msg of messages">{{msg.content}}</mat-list-item>
    </mat-list>
</div>
<div class="bottom-send-message">
    <mat-form-field class="bottom-input">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" placeholder="type your message"
            value="">
    </textarea>
    </mat-form-field>
    <button mat-raised-button class="bottom-button" id="sendMessageButton">Send</button>
</div>