@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><a href="https://github.com/WojciechSzweda/CzadRoom">GitHub link</a></p>

<p>&copy; by Wojciech Szweda</p>
