@model RoomViewModel
<div class="container">
    <input asp-for="ID" type="hidden" id="RoomID" />

    <div class="row chat-main">
        <div class="chat-room-info">
            <h2>@Model.Name</h2>
        </div>
        <div class="col-md-11 col-sm-10 message-list-box">
            <ul id="messagesList"></ul>
        </div>
        <div class="col-md-1 col-sm-2 sidebar-users">
            <ul id="usersInRoom">
                @foreach (var user in Model.UsersInRoom) {
                    <li class="userInSidebar" id="li-@user.Username">
                        <button onclick="addFriendConfirm('@user.ID', '@user.Username')" type="button" data-toggle="modal" data-target="#addFriendConfirmModal">@user.Username</button>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-12 message-textbox">
            <textarea type="text" id="messageInput" rows="4" class="col-xs-10"></textarea>
            <div class="col-xs-2 btn-holder">
                <button class="btn" id="btnSendMsg">
                    <span class="button-sendMsg-text">Send</span>
                </button>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_AddFriendConfirmPartial")
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/chatUI.js"></script>
<script src="~/js/addFriend.js"></script>