@model RoomViewModel
<div class="container">
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-10">
            <input asp-for="ID" type="hidden" id="RoomID" />
            <label>@Model.Name</label>
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
        <div class="col-xs-2">
            <label>Clients:</label>
            <ul>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>